[submodule "third-party/cmake/CreateLaunchers"]
	path = third-party/cmake/CreateLaunchers
	url = https://github.com/caseymcc/CreateLaunchers.git
[submodule "third-party/fmt"]
	path = third-party/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "third-party/thread-pool"]
	path = third-party/thread-pool
	url = https://github.com/bshoshany/thread-pool.git
[submodule "third-party/CLI11"]
	path = third-party/CLI11
	url = https://github.com/CLIUtils/CLI11.git
